/* Variables */
:root {
    --color-pink: #E53170;
    --color-blue: #6a95ab;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    background-color: aqua;
    font-family: 'Fredoka', sans-serif;
}

/* Utils */
.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}


/*========================================*/