/* Variables */
:root {
    --color-pink: #E53170;
    --color-blue: #6a95ab;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    color: var(--color-pink);
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Utils */
.container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

/* Layout */


/*========================================*/